<section class="gallery-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>our gallery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-container">
        <div class="gallery-filter">
            <button data-filter="*" class="active"> All</button>
            <button data-filter=".spa">Spa</button>
            <button data-filter=".restaurent">Restaurent</button>
            <button data-filter=".gym">Gym</button>
            <button data-filter=".hotel">Hotel</button>
        </div>
        <div class="gallery gallery-masonry">
            <div class="gallery-item spa gym">
                <div class="thumb">
                    <img src="~/Content/img/gallery/1.jpg" alt="">
                </div>
                <div class="gallery-hover">
                    <div class="gallery-icon">
                        <a href="#">
                            <span class="p-img"><img src="~/Content/img/icon/link.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/link-hover.png" alt=""></span>
                        </a>
                        <a class="image-popup" href="~/Content/img/gallery/1.jpg">
                            <span class="p-img"><img src="~/Content/img/icon/search.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/search-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery-item restaurent hotel">
                <div class="thumb">
                    <img src="~/Content/img/gallery/2.jpg" alt="">
                </div>
                <div class="gallery-hover">
                    <div class="gallery-icon">
                        <a href="#">
                            <span class="p-img"><img src="~/Content/img/icon/link.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/link-hover.png" alt=""></span>
                        </a>
                        <a class="image-popup" href="~/Content/img/gallery/2.jpg">
                            <span class="p-img"><img src="~/Content/img/icon/search.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/search-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery-item spa hotel">
                <div class="thumb">
                    <img src="~/Content/img/gallery/3.jpg" alt="">
                </div>
                <div class="gallery-hover">
                    <div class="gallery-icon">
                        <a href="#">
                            <span class="p-img"><img src="~/Content/img/icon/link.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/link-hover.png" alt=""></span>
                        </a>
                        <a class="image-popup" href="~/Content/img/gallery/3.jpg">
                            <span class="p-img"><img src="~/Content/img/icon/search.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/search-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery-item restaurent hotel">
                <div class="thumb">
                    <img src="~/Content/img/gallery/4.jpg" alt="">
                </div>
                <div class="gallery-hover">
                    <div class="gallery-icon">
                        <a href="#">
                            <span class="p-img"><img src="~/Content/img/icon/link.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/link-hover.png" alt=""></span>
                        </a>
                        <a class="image-popup" href="~/Content/img/gallery/4.jpg">
                            <span class="p-img"><img src="~/Content/img/icon/search.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/search-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery-item gym">
                <div class="thumb">
                    <img src="~/Content/img/gallery/5.jpg" alt="">
                </div>
                <div class="gallery-hover">
                    <div class="gallery-icon">
                        <a href="#">
                            <span class="p-img"><img src="~/Content/img/icon/link.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/link-hover.png" alt=""></span>
                        </a>
                        <a class="image-popup" href="~/Content/img/gallery/5.jpg">
                            <span class="p-img"><img src="~/Content/img/icon/search.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/search-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gallery-item spa hotel gym">
                <div class="thumb">
                    <img src="~/Content/img/gallery/6.jpg" alt="">
                </div>
                <div class="gallery-hover">
                    <div class="gallery-icon">
                        <a href="#">
                            <span class="p-img"><img src="~/Content/img/icon/link.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/link-hover.png" alt=""></span>
                        </a>
                        <a class="image-popup" href="~/Content/img/gallery/6.jpg">
                            <span class="p-img"><img src="~/Content/img/icon/search.png" alt=""></span>
                            <span class="s-img"><img src="~/Content/img/icon/search-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
