@using HotelAtr.DAL.Model


<section class="slider-area">
    <div class="slider-wrapper">
        @foreach (SliderArea item in HotelReservation.Controllers.HomeController.GetSliderArea())
    {
        <div class="single-slide" style=" background-image: url('@Url.Content(item.PathImg)');">
            <div class="banner-content overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="text-content-wrapper">
                                <div class="text-content text-center">
                                    <h1 class="pt-180">@item.Header</h1>
                                    <p>@item.Description</p>
                                    <div class="banner-btn">
                                        <a class="default-btn" href="@item.URL">explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}


    </div>
</section>
